@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-color{
  background-color: #0dcaf0;
}

.icon-color{
  color: #0dcaf0;
}
.hover-btn:hover{
  background-color: #0dcaf0;
  color: white;
}
.text-hover:hover{
  color: #0dcaf0;
}
.section-1{
  background-image: url('/HeroSection.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.section-11{
  background-image: url('/HeroSection.png');
  background-size: cover;
  background-position: center;
  /* height: fit-content; */
  background-repeat: no-repeat;
  
}

.section-2{
  background-color: #0dcaf074;
  
}
.optiondiv{
  opacity: 1;
}
.border{
  border: 1px solid rgba(118, 118, 118, 0.795);
}
@media (min-width: 768px){
  .sign-bg{
    background-image: url("/signup.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .log-bg{
    background-image: url("/Login.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  }
}
@media (min-width: 1024px){
  .sign-bg{
    height: 130vh;

  }

}



.contact-bg{
  background-image: url(/conhero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 28vh;
  
    
}
.border-color{
  border: 0cqmin;
}
/* .grad-div{
  background-color: ;
} */