@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-color{
  background-color: #0dcaf0;
}
.hover-btn:hover{
  background-color: #0dcaf0;
  color: white;
}
.text-hover:hover{
  color: #0dcaf0;
}